# Exclude system and application files
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.pptx
*.jpg
*.doc
*.xls

# Exclude specific directories
/Application Data/
/Cookies/
/Local Settings/
/My Documents/
/NetHood/
/PrintHood/
/Recent/
/SendTo/
/Start Menu/
/Templates/
/Contacts/
/Downloads/
/Favorites/
/Links/
/Music/
/Pictures/
/Saved Games/
/Searches/
/Videos/
/OneDrive/

# Exclude user-specific configuration files
/.anaconda/
/.cisco/
/.conda/
/.condarc
/.continuum/
/.gitconfig
/.idlerc/
/.ipynb_checkpoints/
/.ipython/
/.jupyter/
/.matplotlib/
/.spyder-py3/
/vivaldi_reporting_data
/.vscode/

# Exclude system files
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/ntuser.ini

# Exclude specific files and directories from the current project
/Missing value handling with fillna, dropna, replace.pynb
/Untitled.ipynb
/Untitled1.ipynb
/scikit_learn_data/
/unknown-0.0-py31_0.tar.bz2
